@use '../utils' as u;
.form-section{

    height: calc(100vh - 130px);
    overflow-x: hidden;

    .form{
        width: 100vw;
        height: 100%;
        position: relative;
        transition: all 200ms ease-in-out;

        .form-page{
            width: 100vw;
            height: 100%;
            background-color: orange;
            border: 1px solid black;
            padding: 1rem;
            position: absolute;
        }
        .form-page--1{
            left: 0vw;
            transition: all 250ms ease-in-out;
        }
        .form-page--2{
            left: 100vw;
            transition: left 250ms ease-in-out;
        }
        .form-page--3{
            left: 200vw;
        }
        .form-page--4{
            left: 300vw;
        }
        .form-page--5{
            left: 400vw;
        }


    }

}

.progress-bar-section{

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    bottom: 50px;

}
.progress-bar{

    width: 70%;
    height: 2px;
    background-color: u.$grey;
}

.test{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;

    height: 10px;
    background-color: u.$green;
    border-radius: 10px;

}

.arrow-right{
    margin-left: 1.2rem;
    font-size: u.$fontsize-3;
    cursor: pointer;
}
.arrow-left{
    margin-right: 1rem;
    font-size: u.$fontsize-3;
    cursor: pointer;
}