@use '../utils' as u;

.form-section{

    height: calc(100vh - 130px);
    background-color: red;

    .form{

        width: 100vw;
        height: 100%;
        background-color: blue;
        display: flex;
        scroll-snap-align: y mandatory;
        overflow: hidden;

        .form-page{
            flex-shrink: 0;
            width: 100vw;
            height: 100%;
            background-color: orange;
            border: 1px solid black;

            padding: 1rem;
        }


    }

}

.progress-bar-section{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;

}
.progress-bar{

    width: 70%;
    height: 2px;
    background-color: black;
}

.test{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;

    width: 17.5%;
    height: 10px;
    background-color: u.$green;
    border-radius: 10px;

}

.arrow-left{
    margin-left: 0.8rem;
    font-size: u.$fontsize-3;
    cursor: pointer;
}
.arrow-right{
    margin-right: 0.8rem;
    font-size: u.$fontsize-3;
    cursor: pointer;
}