// adobe font QUICHE and MONTSERRAT
    @import url("https://use.typekit.net/jgb4tlu.css");
// google font SPECTRAL
    @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');


$montserrat: montserrat, sans-serif;
$quiche: quiche-text, sans-serif;
$spectral: 'Spectral', serif;


// font sizes
$fontsize-1: 3.052rem;
$fontsize-2: 2.441rem;
$fontsize-3: 1.953rem;
$fontsize-4: 1.563rem;
$fontsize-5: 1.25rem;
$fontsize-6: 1rem;
$fontsize-small: 0.8rem;



